@use '../../../styles' as *;

.logo {
  display: flex;
  height: 2.25rem;
}

.logo__box {
  position: relative;
  width: 2.25rem;
  height: 100%;
}

.logo__item {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2.44rem;
  height: 0.97rem;
  border-radius: 0.97rem/0.48rem;
  background-color: $blue500;

  &_left {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &_right {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.logo__title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
  margin: auto 0;
}

.navigation {
  display: flex;
  gap: 3.75rem;
  &__item {
    text-decoration: none;

    &:visited:not(.active) {
      color: $black;
    }

    &:active {
      color: $blue600 !important;
    }
  }
}

.active {
  color: $blue500;
}
