@use '../../../styles' as *;

.pagination {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin: 2.5rem 0 2.75rem 0;
  justify-content: center;
}

.page_number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $grey300;
  border-radius: 0.25rem;
  min-width: 2rem;
  padding: 0 0.4rem;
  height: 2rem;
  background-color: $white;
  font-family: 'Inter';

  user-select: none;

  &:disabled {
    border: 1px solid $grey200;
  }
}

.pointer {
  cursor: pointer;
}

.arrow_left,
.arrow_right {
  background-image: url('../../../assets/Arrow=Active.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &:disabled {
    background-image: url('../../../assets/Arrow=Disabled.png');
  }
}

.arrow_right {
  transform: rotate(180deg);
}

.active {
  color: $white;
  background-color: $blue500;
  border: 1px solid $blue500;
}
